#flex-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    background-color: antiquewhite;
}

#flex-gallery a {
    width: 45%;
}
#flex-gallery img {
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
}

/* Tablet Dimensions: */
@media screen and (min-width: 700px) {
    #flex-gallery a {
        width: 25%;
    }
}

/* Larger Screen */
@media screen and (min-width: 1250px) {
    #flex-gallery a {
        width: 15%;
    }
}