/* Header, Footer, Skip to Content */

a#skip {
    position: absolute;
    top: -40px;
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a#skip:focus {
    top: 10px;
}

*:focus {
    border: 2px solid blue;
}

nav {
    width: 100%;
    background-color: #ffb86f;
    text-align: left;
}

nav ul {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    display:inline; 
}
  
nav a {
    color: #3e2f5b;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; 
}

nav a.currentPage {
    color: #261132;
    padding: 3px;
    border: 2px solid #261132; 
}

@media screen and (max-width: 699px) {
    nav, nav ul {
        min-height: 125px;
    }
}

body {
    background-color: #FAC898;
}

main {
    /* Default text is Arial font with Verdana as a fallback option */
    box-sizing: border-box;
    font-family: Arial, Verdana;
    color: black;
    width: 100%;
    padding: 10px;
}

main h1 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

main h2 {
    font-size: 1.1em;
}

footer {
    background-color: coral;
    padding: 5px 15px;
}

/* Prefers Reduced */
@media screen and (prefers-reduced-motion: reduce){
    a#skip {
        -webkit-transition: none;
        transition: none;
    }
}
/* Tablet Dimensions: */
@media screen and (min-width: 700px) {
    nav ul {
        flex-direction: row;
        
    }
    nav a {
        font-size: 20px;
    }
}

/* Larger Screen */
@media screen and (min-width: 1250px) {
    nav a {
        font-size: 25px;
    }
}